.login-container {  
    background-size: cover;
    display: flex;
    align-items: center;
}
html{
    background: url(./images/account-bg.jpg);
    height: 100%;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container .aside-right{
    height: 500px;
    width: 550px;
    background-color: rgba(68, 90, 153, 0.051);
    box-shadow: 0px 0px 29.4px 0.6px rgb(0 0 0 / 50%);
    text-align: center;
    max-width: 540px;
    padding: 60px 45px;
    margin: 0 auto;
}
.login-container .aside-right .login-form{
    display: flex;
    align-items: center;    
}
input{
    height: 45px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #23334f;
    padding-left: 0;
    background: transparent;
    color: #dbe2fb;
    width: 70%;
    overflow: visible;
    outline: none;
    margin-top: 10px;
}
button{
    background-image: -webkit-linear-gradient(  169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    border-radius: 30px;
    width: auto;
    padding: 0 50px;
    height: 40px;
    text-transform: uppercase;
    margin: 30px 0px;
    outline: none;
}
span{
 font-size: 20px;   
}

a{
    text-decoration: none;
    color: teal;
}
.error{
    height: 5px;
    color: red;

}